body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-50px;
  width:415px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:737px;
}
#u1726 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:51px;
  width:414px;
  height:736px;
  text-align:left;
}
#u1726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:55px;
}
#u1728 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:51px;
  width:43px;
  height:54px;
}
#u1728_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1730 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:82px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1731 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:74px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u1731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:27px;
}
#u1732 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:24px;
  width:414px;
  height:27px;
}
#u1732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u1733 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:141px;
  width:80px;
  height:80px;
}
#u1733_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u1734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:20px;
}
#u1734 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:232px;
  width:414px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u1734_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  word-wrap:break-word;
}
#u1735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:17px;
}
#u1735 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:281px;
  width:334px;
  height:16px;
  text-align:center;
}
#u1735_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  word-wrap:break-word;
}
#u1736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u1736 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:552px;
  width:80px;
  height:80px;
}
#u1736_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u1737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u1737 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:552px;
  width:80px;
  height:80px;
}
#u1737_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
