body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:relative;
  left:-52px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:57px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:52px;
  width:375px;
  height:56px;
}
#u424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:57px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:52px;
  width:375px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u425_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:62px;
  width:84px;
  height:31px;
  color:#FFFFFF;
}
#u427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:68px;
  width:1px;
  height:19px;
}
#u428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u429_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:14px;
  height:14px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:72px;
  width:11px;
  height:11px;
}
#u429_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:75px;
  width:5px;
  height:5px;
  -webkit-transform:rotate(353deg);
  -moz-transform:rotate(353deg);
  -ms-transform:rotate(353deg);
  transform:rotate(353deg);
}
#u430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:76px;
  width:4px;
  height:4px;
}
#u432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:76px;
  width:4px;
  height:4px;
}
#u433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:76px;
  width:4px;
  height:4px;
}
#u434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:68px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:54px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:108px;
  width:375px;
  height:53px;
}
#u437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:116px;
  width:37px;
  height:37px;
  font-size:12px;
  color:#C9C9C9;
}
#u438_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:33px;
  word-wrap:break-word;
}
#u439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:127px;
  width:68px;
  height:16px;
  text-align:right;
}
#u439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:54px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:161px;
  width:375px;
  height:53px;
}
#u441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:169px;
  width:37px;
  height:37px;
  font-size:12px;
  color:#C9C9C9;
}
#u442_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:33px;
  word-wrap:break-word;
}
#u443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:17px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:180px;
  width:264px;
  height:16px;
  text-align:right;
}
#u443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:54px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:214px;
  width:375px;
  height:53px;
}
#u445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:222px;
  width:37px;
  height:37px;
  font-size:12px;
  color:#C9C9C9;
}
#u446_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:33px;
  word-wrap:break-word;
}
#u447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:17px;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:233px;
  width:194px;
  height:16px;
  text-align:right;
}
#u447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:54px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:267px;
  width:375px;
  height:53px;
}
#u449_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:275px;
  width:37px;
  height:37px;
  font-size:12px;
  color:#C9C9C9;
}
#u450_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:33px;
  word-wrap:break-word;
}
#u451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:286px;
  width:68px;
  height:16px;
  text-align:right;
}
#u451_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:54px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:320px;
  width:375px;
  height:53px;
}
#u453_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:328px;
  width:37px;
  height:37px;
  font-size:12px;
  color:#C9C9C9;
}
#u454_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:33px;
  word-wrap:break-word;
}
#u455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:339px;
  width:68px;
  height:16px;
  text-align:right;
}
#u455_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:54px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:373px;
  width:375px;
  height:53px;
}
#u457_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:381px;
  width:37px;
  height:37px;
  font-size:12px;
  color:#C9C9C9;
}
#u458_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:33px;
  word-wrap:break-word;
}
#u459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:392px;
  width:68px;
  height:16px;
  text-align:right;
}
#u459_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:54px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:426px;
  width:375px;
  height:53px;
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:434px;
  width:37px;
  height:37px;
  font-size:12px;
  color:#C9C9C9;
}
#u462_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:33px;
  word-wrap:break-word;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:445px;
  width:68px;
  height:16px;
  text-align:right;
}
#u463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:54px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:479px;
  width:375px;
  height:53px;
}
#u465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:487px;
  width:37px;
  height:37px;
  font-size:12px;
  color:#C9C9C9;
}
#u466_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:33px;
  word-wrap:break-word;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:498px;
  width:68px;
  height:16px;
  text-align:right;
}
#u467_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:54px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:532px;
  width:375px;
  height:53px;
}
#u469_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:540px;
  width:37px;
  height:37px;
  font-size:12px;
  color:#C9C9C9;
}
#u470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:33px;
  word-wrap:break-word;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:551px;
  width:68px;
  height:16px;
  text-align:right;
}
#u471_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:54px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:585px;
  width:375px;
  height:53px;
}
#u473_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:593px;
  width:37px;
  height:37px;
  font-size:12px;
  color:#C9C9C9;
}
#u474_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:33px;
  word-wrap:break-word;
}
#u475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:604px;
  width:68px;
  height:16px;
  text-align:right;
}
#u475_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:54px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:638px;
  width:375px;
  height:53px;
}
#u477_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:646px;
  width:37px;
  height:37px;
  font-size:12px;
  color:#C9C9C9;
}
#u478_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:33px;
  word-wrap:break-word;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:657px;
  width:68px;
  height:16px;
  text-align:right;
}
#u479_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:54px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:691px;
  width:375px;
  height:53px;
}
#u481_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:699px;
  width:37px;
  height:37px;
  font-size:12px;
  color:#C9C9C9;
}
#u482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:33px;
  word-wrap:break-word;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:710px;
  width:68px;
  height:16px;
  text-align:right;
}
#u483_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:54px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:744px;
  width:375px;
  height:53px;
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:752px;
  width:37px;
  height:37px;
  font-size:12px;
  color:#C9C9C9;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:33px;
  word-wrap:break-word;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:763px;
  width:68px;
  height:16px;
  text-align:right;
}
#u487_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:54px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:797px;
  width:375px;
  height:53px;
}
#u489_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:805px;
  width:37px;
  height:37px;
  font-size:12px;
  color:#C9C9C9;
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:33px;
  word-wrap:break-word;
}
#u491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:816px;
  width:68px;
  height:16px;
  text-align:right;
}
#u491_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:54px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:850px;
  width:375px;
  height:53px;
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:858px;
  width:37px;
  height:37px;
  font-size:12px;
  color:#C9C9C9;
}
#u494_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:33px;
  word-wrap:break-word;
}
#u495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:869px;
  width:68px;
  height:16px;
  text-align:right;
}
#u495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:54px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:903px;
  width:375px;
  height:53px;
}
#u497_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:911px;
  width:37px;
  height:37px;
  font-size:12px;
  color:#C9C9C9;
}
#u498_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:33px;
  word-wrap:break-word;
}
#u499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:922px;
  width:68px;
  height:16px;
  text-align:right;
}
#u499_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:56px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:53px;
  width:37px;
  height:55px;
}
#u502_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:2px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:83px;
  width:14px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u504_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:2px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:73px;
  width:14px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u505_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
