body {
  margin:0px;
  background-color:rgba(201, 201, 201, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u8782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1078px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u8783 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u8784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u8784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1123px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u8785 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u8786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u8786 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1033px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u8787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u8788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u8788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:853px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u8789 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u8790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u8790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:898px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u8791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u8792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u8792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:763px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u8793 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u8794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u8794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:808px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u8795 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u8796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u8796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:494px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u8797 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u8798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u8798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:449px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u8799 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u8800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u8800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:539px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u8801 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u8802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u8802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:718px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u8803 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u8804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u8804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:629px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u8805 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u8806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u8806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:584px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u8807 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u8808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u8808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:359px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u8809 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u8810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u8810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u8811 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u8812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:101px;
}
#u8812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:100px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8813 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:135px;
  word-wrap:break-word;
}
#u8814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u8814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:139px;
  height:35px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u8815 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u8816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u8816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u8817 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u8818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u8818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:225px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u8819 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u8820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u8820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:404px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u8821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u8822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u8822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:988px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u8823 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u8824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u8824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:943px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u8825 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u8826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u8826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:673px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u8827 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u8828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u8828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:269px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u8829 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u8830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u8830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:314px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u8831 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u8832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:181px;
}
#u8832 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:79px;
  width:550px;
  height:180px;
}
#u8833 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:43px;
}
#u8834 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:140px;
  width:162px;
  height:42px;
}
#u8835 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:158px;
  word-wrap:break-word;
}
#u8836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:43px;
}
#u8836 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:140px;
  width:111px;
  height:42px;
}
#u8837 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:107px;
  word-wrap:break-word;
}
#u8838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:61px;
}
#u8839 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:79px;
  width:440px;
  height:60px;
}
#u8840 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:17px;
}
#u8841 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:101px;
  width:424px;
  height:16px;
}
#u8842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  word-wrap:break-word;
}
#u8843 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:97px;
  width:36px;
  height:25px;
}
#u8843_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8844 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:97px;
  width:38px;
  height:25px;
}
#u8844_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8845 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:97px;
  width:36px;
  height:25px;
}
#u8845_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8846 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:97px;
  width:38px;
  height:25px;
}
#u8846_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:61px;
}
#u8847 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:139px;
  width:440px;
  height:60px;
}
#u8848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:17px;
}
#u8849 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:161px;
  width:424px;
  height:16px;
}
#u8850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  word-wrap:break-word;
}
#u8851 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:157px;
  width:36px;
  height:25px;
}
#u8851_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8852 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:157px;
  width:38px;
  height:25px;
}
#u8852_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8853 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:157px;
  width:36px;
  height:25px;
}
#u8853_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8854 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:157px;
  width:38px;
  height:25px;
}
#u8854_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:61px;
}
#u8855 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:199px;
  width:440px;
  height:60px;
}
#u8856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:17px;
}
#u8857 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:221px;
  width:424px;
  height:16px;
}
#u8858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  word-wrap:break-word;
}
#u8859 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:217px;
  width:36px;
  height:25px;
}
#u8859_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8860 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:217px;
  width:38px;
  height:25px;
}
#u8860_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8861 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:217px;
  width:36px;
  height:25px;
}
#u8861_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8862 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:217px;
  width:38px;
  height:25px;
}
#u8862_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:181px;
}
#u8863 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:79px;
  width:84px;
  height:180px;
}
#u8864 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:80px;
  word-wrap:break-word;
}
#u8865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u8865 {
  border-width:0px;
  position:absolute;
  left:1300px;
  top:9px;
  width:100px;
  height:60px;
}
#u8866 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:61px;
}
#u8867 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:9px;
  width:83px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u8868 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:79px;
  word-wrap:break-word;
}
#u8869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u8869 {
  border-width:0px;
  position:absolute;
  left:1360px;
  top:31px;
  width:29px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u8870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:61px;
}
#u8871 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:9px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u8872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u8873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:61px;
}
#u8873 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:9px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u8874 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u8875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:61px;
}
#u8875 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:9px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u8876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u8877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:61px;
}
#u8877 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:9px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u8878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u8879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:61px;
}
#u8879 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:9px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u8880 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u8881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:61px;
}
#u8881 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:9px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u8882 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u8883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:61px;
}
#u8883 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:9px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u8884 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u8885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:61px;
}
#u8885 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:9px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u8886 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u8887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:61px;
}
#u8887 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:9px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u8888 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u8889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:61px;
}
#u8889 {
  border-width:0px;
  position:absolute;
  left:1122px;
  top:9px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u8890 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u8891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:61px;
}
#u8891 {
  border-width:0px;
  position:absolute;
  left:1211px;
  top:9px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u8892 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u8893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:61px;
}
#u8893 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:9px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u8894 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u8895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:61px;
}
#u8895 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:79px;
  width:177px;
  height:60px;
}
#u8896 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:61px;
}
#u8897 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:139px;
  width:177px;
  height:60px;
}
#u8898 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:61px;
}
#u8899 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:199px;
  width:177px;
  height:60px;
}
#u8900 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:36px;
}
#u8901 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:92px;
  width:146px;
  height:35px;
}
#u8902 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:142px;
  word-wrap:break-word;
}
#u8903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:36px;
}
#u8903 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:154px;
  width:146px;
  height:35px;
}
#u8904 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:142px;
  word-wrap:break-word;
}
#u8905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:36px;
}
#u8905 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:212px;
  width:146px;
  height:35px;
}
#u8906 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:142px;
  word-wrap:break-word;
}
#u8907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:863px;
}
#u8907 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:277px;
  width:1250px;
  height:863px;
}
#u8908 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:424px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:120px;
}
#u8909 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:629px;
  width:497px;
  height:119px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:90px;
}
#u8910 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:493px;
  word-wrap:break-word;
}
#u8911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:59px;
}
#u8911 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:660px;
  width:317px;
  height:58px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u8912 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:313px;
  word-wrap:break-word;
}
#u8913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:120px;
}
#u8913 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:629px;
  width:497px;
  height:119px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:90px;
}
#u8914 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:493px;
  word-wrap:break-word;
}
#u8915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:59px;
}
#u8915 {
  border-width:0px;
  position:absolute;
  left:1001px;
  top:660px;
  width:317px;
  height:58px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u8916 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:313px;
  word-wrap:break-word;
}
#u8917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:91px;
}
#u8917 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:640px;
  width:410px;
  height:90px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u8918 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:406px;
  word-wrap:break-word;
}
#u8919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:91px;
}
#u8919 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:640px;
  width:410px;
  height:90px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u8920 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:406px;
  word-wrap:break-word;
}
