body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-50px;
  width:415px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:27px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:24px;
  width:414px;
  height:27px;
}
#u1066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:56px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:51px;
  width:414px;
  height:55px;
  font-size:16px;
  text-align:left;
}
#u1067_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:410px;
  word-wrap:break-word;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:55px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:51px;
  width:43px;
  height:54px;
}
#u1069_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:82px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1071_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:74px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u1072_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:454px;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:334px;
  width:414px;
  height:453px;
  text-align:left;
}
#u1073_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:58px;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:106px;
  width:414px;
  height:57px;
  text-align:left;
}
#u1074_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:410px;
  word-wrap:break-word;
}
#u1075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:58px;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:163px;
  width:414px;
  height:57px;
  text-align:left;
}
#u1075_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:410px;
  word-wrap:break-word;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1077_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:26px;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:124px;
  width:3px;
  height:23px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u1077_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:12px;
  height:6px;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:141px;
  width:9px;
  height:3px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u1078_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:58px;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:220px;
  width:414px;
  height:57px;
  text-align:left;
}
#u1079_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:410px;
  word-wrap:break-word;
}
#u1080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:58px;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:277px;
  width:414px;
  height:57px;
  text-align:left;
}
#u1080_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:410px;
  word-wrap:break-word;
}
