body {
  margin:0px;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
  position:relative;
  left:-435px;
  width:340px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:79px;
}
#u3618 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:206px;
  width:340px;
  height:78px;
}
#u3618_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:336px;
  word-wrap:break-word;
}
#u3619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:351px;
}
#u3619 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:284px;
  width:340px;
  height:350px;
}
#u3619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:256px;
}
#u3620 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:318px;
  width:256px;
  height:256px;
}
#u3620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:17px;
}
#u3621 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:592px;
  width:256px;
  height:16px;
  color:#A1A1A1;
  text-align:center;
}
#u3621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  word-wrap:break-word;
}
