body {
  margin:0px;
  background-color:rgba(201, 201, 201, 1);
  background-image:none;
  position:static;
  left:auto;
  width:139px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:810px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2753 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:855px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2755 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:765px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2757 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:675px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2759 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:720px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2761 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:585px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2763 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2764 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:630px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2765 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2767 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:315px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2769 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:405px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2771 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:540px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2773 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:495px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2775 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2776 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2777 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2778 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2779 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2781 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:101px;
}
#u2782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:100px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2783 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:135px;
  word-wrap:break-word;
}
#u2784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u2784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:139px;
  height:35px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2785 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u2786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2786 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:225px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2789 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
