body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:803px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5693 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:99px;
  width:375px;
  height:659px;
}
#u5693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:659px;
}
#u5693_ref {
  border-width:0px;
  position:absolute;
  left:795px;
  top:748px;
  width:1px;
  height:1px;
}
#u5694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:659px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.588235294117647);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5694 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:99px;
  width:375px;
  height:659px;
}
#u5695 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5697 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:293px;
  width:231px;
  height:123px;
}
#u5698 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:2px;
}
#u5699 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:370px;
  width:231px;
  height:1px;
}
#u5700 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:47px;
}
#u5701 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:370px;
  width:1px;
  height:46px;
}
#u5702 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5703 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:385px;
  width:29px;
  height:16px;
}
#u5704 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5705 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:385px;
  width:29px;
  height:16px;
}
#u5706 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5707 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:329px;
  width:85px;
  height:16px;
}
#u5708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
