body {
  margin:0px;
  background-color:rgba(0, 153, 255, 1);
  background-image:none;
  position:relative;
  left:-484px;
  width:342px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:478px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6560 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:165px;
  width:342px;
  height:478px;
}
#u6561 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:231px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u6562 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:197px;
  width:150px;
  height:150px;
}
#u6563 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6564 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:374px;
  width:169px;
  height:33px;
  font-size:28px;
}
#u6565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u6566 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6567 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:501px;
  width:117px;
  height:40px;
}
#u6567_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u6568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6568 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:501px;
  width:173px;
  height:40px;
  font-size:16px;
}
#u6569 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:169px;
  word-wrap:break-word;
}
#u6570 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:440px;
  width:300px;
  height:40px;
}
#u6570_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u6571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6571 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:558px;
  width:300px;
  height:40px;
  font-size:20px;
}
#u6572 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u6573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u6573 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:657px;
  width:332px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u6574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
