body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-50px;
  width:415px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:737px;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:51px;
  width:414px;
  height:736px;
  text-align:left;
}
#u1392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:55px;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:51px;
  width:43px;
  height:54px;
}
#u1394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:82px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:74px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u1397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:27px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:24px;
  width:414px;
  height:27px;
}
#u1398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:141px;
  width:80px;
  height:80px;
}
#u1399_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u1400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:20px;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:232px;
  width:414px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u1400_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  word-wrap:break-word;
}
#u1401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:17px;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:281px;
  width:334px;
  height:16px;
  text-align:center;
}
#u1401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  word-wrap:break-word;
}
#u1402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:552px;
  width:80px;
  height:80px;
}
#u1402_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
#u1403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:552px;
  width:80px;
  height:80px;
}
#u1403_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  word-wrap:break-word;
}
