body {
  margin:0px;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
  position:relative;
  left:-299px;
  width:414px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:949px;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:37px;
  width:414px;
  height:948px;
}
#u1163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1164 {
  position:absolute;
  left:299px;
  top:37px;
  visibility:hidden;
}
#u1164_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:415px;
  height:178px;
  background-image:none;
}
#u1164_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:178px;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:177px;
}
#u1165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:17px;
  width:69px;
  height:69px;
  color:#797979;
}
#u1166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  word-wrap:break-word;
}
#u1167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:23px;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:25px;
  width:104px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u1168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:26px;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:52px;
  width:56px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
}
#u1168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:62px;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:97px;
  width:94px;
  height:61px;
  font-size:12px;
}
#u1170_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:90px;
  word-wrap:break-word;
}
#u1171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:110px;
  width:94px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u1171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:62px;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:97px;
  width:94px;
  height:61px;
  font-size:12px;
}
#u1173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:90px;
  word-wrap:break-word;
}
#u1174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:110px;
  width:94px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u1174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:62px;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:97px;
  width:94px;
  height:61px;
  font-size:12px;
}
#u1176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:90px;
  word-wrap:break-word;
}
#u1177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:110px;
  width:94px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u1177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:62px;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:97px;
  width:94px;
  height:61px;
  font-size:12px;
}
#u1179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:90px;
  word-wrap:break-word;
}
#u1180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:110px;
  width:94px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u1180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u1181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:33px;
  width:36px;
  height:36px;
}
#u1181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:37px;
  width:28px;
  height:28px;
}
#u1182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:88px;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:317px;
  width:414px;
  height:87px;
}
#u1183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:358px;
  width:3px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:360px;
  width:3px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u1186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:342px;
  width:27px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:2px;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:375px;
  width:27px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:329px;
  width:60px;
  height:60px;
}
#u1190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:56px;
  word-wrap:break-word;
}
#u1191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:333px;
  width:32px;
  height:32px;
}
#u1191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:329px;
  width:60px;
  height:60px;
}
#u1193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:56px;
  word-wrap:break-word;
}
#u1194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:333px;
  width:32px;
  height:32px;
}
#u1194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:329px;
  width:60px;
  height:60px;
}
#u1196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:56px;
  word-wrap:break-word;
}
#u1197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:333px;
  width:32px;
  height:32px;
}
#u1197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:329px;
  width:60px;
  height:60px;
}
#u1199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:56px;
  word-wrap:break-word;
}
#u1200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:333px;
  width:32px;
  height:32px;
}
#u1200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:57px;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:806px;
  width:414px;
  height:56px;
  text-align:left;
}
#u1202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:410px;
  word-wrap:break-word;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:830px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:838px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u1205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:57px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:750px;
  width:414px;
  height:56px;
  text-align:left;
}
#u1207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:410px;
  word-wrap:break-word;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:774px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:782px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u1210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:57px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:582px;
  width:414px;
  height:56px;
  text-align:left;
}
#u1211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:410px;
  word-wrap:break-word;
}
#u1212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:57px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:470px;
  width:414px;
  height:56px;
  text-align:left;
}
#u1212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:410px;
  word-wrap:break-word;
}
#u1213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:57px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:414px;
  width:414px;
  height:56px;
  text-align:left;
}
#u1213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:410px;
  word-wrap:break-word;
}
#u1214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:84px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:224px;
  width:414px;
  height:83px;
}
#u1214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:410px;
  word-wrap:break-word;
}
#u1215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:28px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:9px;
  width:413px;
  height:28px;
}
#u1215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:439px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:447px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u1218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:494px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:502px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u1221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:550px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:558px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u1224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:57px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:526px;
  width:414px;
  height:56px;
  text-align:left;
}
#u1226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:410px;
  word-wrap:break-word;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:550px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:558px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u1229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:57px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:638px;
  width:414px;
  height:56px;
  text-align:left;
}
#u1231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:410px;
  word-wrap:break-word;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:662px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:670px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u1234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:57px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:694px;
  width:414px;
  height:56px;
  text-align:left;
}
#u1236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:410px;
  word-wrap:break-word;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:718px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:726px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u1239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:57px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:862px;
  width:414px;
  height:56px;
  text-align:left;
}
#u1241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:410px;
  word-wrap:break-word;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:886px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:894px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u1244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:329px;
  width:60px;
  height:60px;
}
#u1246_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:56px;
  word-wrap:break-word;
}
#u1247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:333px;
  width:32px;
  height:32px;
}
#u1247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:328px;
  width:11px;
  height:11px;
  font-size:10px;
  color:#FFFFFF;
}
#u1248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  word-wrap:break-word;
}
#u1249 {
  position:absolute;
  left:299px;
  top:37px;
}
#u1249_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:415px;
  height:178px;
  background-image:none;
}
#u1249_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:178px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:177px;
}
#u1250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:17px;
  width:69px;
  height:69px;
  color:#797979;
}
#u1251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  word-wrap:break-word;
}
#u1252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:41px;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:96px;
  width:119px;
  height:40px;
}
#u1252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u1253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:285px;
  width:16px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u1253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u1254 {
  position:fixed;
  left:50%;
  margin-left:-207.5px;
  bottom:0px;
}
#u1254_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:415px;
  height:57px;
  background-image:none;
}
#u1254_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:57px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:56px;
}
#u1255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:56px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:1px;
  width:104px;
  height:55px;
  font-size:12px;
  color:#5E5E5E;
}
#u1257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:100px;
  word-wrap:break-word;
}
#u1258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:11px;
  width:21px;
  height:21px;
  color:#5E5E5E;
}
#u1258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:56px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:1px;
  width:104px;
  height:55px;
  font-size:12px;
  color:#5E5E5E;
}
#u1260_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:100px;
  word-wrap:break-word;
}
#u1261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:11px;
  width:21px;
  height:21px;
  color:#5E5E5E;
}
#u1261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:56px;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:102px;
  height:55px;
  font-size:12px;
  color:#5E5E5E;
}
#u1263_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:98px;
  word-wrap:break-word;
}
#u1264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:11px;
  width:21px;
  height:21px;
  color:#000000;
}
#u1264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:56px;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:1px;
  width:104px;
  height:55px;
  font-size:12px;
  color:#5E5E5E;
}
#u1266_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:100px;
  word-wrap:break-word;
}
#u1267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:11px;
  width:21px;
  height:21px;
  color:#5E5E5E;
}
#u1267_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:17px;
  width:10px;
  height:10px;
  font-size:10px;
  color:#FFFFFF;
}
#u1268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
