body {
  margin:0px;
  background-color:rgba(198, 198, 198, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:1810px;
  background:inherit;
  background-color:rgba(32, 34, 42, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:43px;
  width:220px;
  height:1810px;
  display:flex;
}
#u8010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:220px;
  height:56px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:70px;
  background:inherit;
  background-color:rgba(32, 34, 42, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:70px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:55px;
}
#u8013 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1526px;
  width:220px;
  height:55px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1706px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1580px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:55px;
}
#u8016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1388px;
  width:220px;
  height:55px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1484px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8017 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1442px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:55px;
}
#u8019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1208px;
  width:220px;
  height:55px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8020 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1346px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8020 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1304px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8021 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1262px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:55px;
}
#u8023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1069px;
  width:220px;
  height:55px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8023 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1123px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1165px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:55px;
}
#u8026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:931px;
  width:220px;
  height:55px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:985px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8027 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:55px;
}
#u8028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:834px;
  width:220px;
  height:55px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8028 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:888px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:55px;
}
#u8030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:306px;
  width:220px;
  height:55px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:528px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8031 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:55px;
}
#u8032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:612px;
  width:220px;
  height:55px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:666px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:750px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8034 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:708px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1027px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8036 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1622px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:792px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:570px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1748px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8041 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:402px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1664px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8042 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:222px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8044 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:55px;
}
#u8045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:220px;
  height:55px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8047 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:264px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:444px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:43px;
}
#u8049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:486px;
  width:220px;
  height:43px;
  display:flex;
  font-size:16px;
  color:rgba(255, 255, 255, 0.6);
}
#u8049 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8051 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:0px;
  width:1200px;
  height:70px;
  display:flex;
}
#u8051 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u8052 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:19px;
  width:29px;
  height:30px;
  display:flex;
}
#u8052 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:31px;
}
#u8053 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:19px;
  width:28px;
  height:31px;
  display:flex;
}
#u8053 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u8054 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:20px;
  width:34px;
  height:30px;
  display:flex;
}
#u8054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:31px;
}
#u8055 {
  border-width:0px;
  position:absolute;
  left:1209px;
  top:19px;
  width:29px;
  height:31px;
  display:flex;
}
#u8055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u8057 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:12px;
  width:43px;
  height:43px;
  display:flex;
  font-size:12px;
  color:#B5B5B5;
}
#u8057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8058 {
  border-width:0px;
  position:absolute;
  left:1323px;
  top:26px;
  width:40px;
  height:16px;
  display:flex;
}
#u8058 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8058_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:5px;
}
#u8059 {
  border-width:0px;
  position:absolute;
  left:1368px;
  top:33px;
  width:10px;
  height:5px;
  display:flex;
}
#u8059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8060 {
  border-width:0px;
  position:absolute;
  left:1398px;
  top:28px;
  width:12px;
  height:16px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  text-align:center;
}
#u8060 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8060_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8061_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1203px;
  height:5px;
}
#u8061 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:68px;
  width:1200px;
  height:2px;
  display:flex;
}
#u8061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u8064 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:15px;
  width:69px;
  height:18px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:right;
}
#u8064 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
}
#u8065 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:17px;
  width:24px;
  height:16px;
  display:flex;
  font-size:7px;
  color:#FFFFFF;
}
#u8065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 7.33333333333334px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
