body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-50px;
  width:414px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:737px;
}
#u2536 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:51px;
  width:414px;
  height:736px;
}
#u2536_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:38px;
}
#u2537 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:319px;
  width:414px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u2537_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  word-wrap:break-word;
}
#u2538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:29px;
}
#u2538 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:386px;
  width:414px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u2538_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  word-wrap:break-word;
}
#u2539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:16px;
}
#u2539 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:759px;
  width:414px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#C9C9C9;
  text-align:center;
}
#u2539_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  word-wrap:break-word;
}
#u2540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:27px;
}
#u2540 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:24px;
  width:414px;
  height:27px;
}
#u2540_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:113px;
}
#u2541 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:182px;
  width:113px;
  height:113px;
}
#u2541_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:42px;
}
#u2542 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:812px;
  width:414px;
  height:41px;
  font-size:11px;
  color:#666666;
}
#u2542_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:410px;
  word-wrap:break-word;
}
