body {
  margin:0px;
  background-color:rgba(201, 201, 201, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1410px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:61px;
}
#u4632 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:19px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u4632_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u4633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:61px;
}
#u4633 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:19px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u4633_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u4635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u4635 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1088px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u4635_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u4636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u4636 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1133px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u4636_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u4637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u4637 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:1043px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u4637_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u4638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u4638 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:863px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u4638_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u4639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u4639 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:908px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u4639_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u4640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u4640 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:773px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u4640_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u4641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u4641 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:818px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u4641_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u4642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u4642 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:504px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u4642_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u4643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u4643 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:459px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u4643_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u4644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u4644 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:549px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u4644_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u4645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u4645 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:728px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u4645_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u4646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u4646 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:639px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u4646_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u4647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u4647 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:594px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u4647_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u4648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u4648 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:369px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u4648_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u4649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u4649 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:190px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u4649_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u4650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:101px;
}
#u4650 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:139px;
  height:100px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4650_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:135px;
  word-wrap:break-word;
}
#u4651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u4651 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:110px;
  width:139px;
  height:35px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u4651_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u4652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u4652 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:145px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u4652_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u4653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u4653 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:235px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u4653_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u4654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u4654 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:414px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u4654_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u4655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u4655 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:998px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u4655_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u4656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u4656 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:953px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u4656_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u4657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u4657 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:683px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u4657_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u4658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u4658 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:279px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u4658_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u4659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u4659 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:324px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u4659_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u4660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:61px;
}
#u4660 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:89px;
  width:550px;
  height:60px;
}
#u4660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:43px;
}
#u4661 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:98px;
  width:162px;
  height:42px;
}
#u4661_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:158px;
  word-wrap:break-word;
}
#u4662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:43px;
}
#u4662 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:98px;
  width:111px;
  height:42px;
}
#u4662_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:107px;
  word-wrap:break-word;
}
#u4663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:61px;
}
#u4663 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:89px;
  width:440px;
  height:60px;
}
#u4663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:17px;
}
#u4664 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:111px;
  width:424px;
  height:16px;
}
#u4664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  word-wrap:break-word;
}
#u4665 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:107px;
  width:36px;
  height:25px;
}
#u4665_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4666 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:107px;
  width:38px;
  height:25px;
}
#u4666_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4667 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:107px;
  width:36px;
  height:25px;
}
#u4667_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4668 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:107px;
  width:38px;
  height:25px;
}
#u4668_input {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:61px;
}
#u4669 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:89px;
  width:84px;
  height:60px;
}
#u4669_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:80px;
  word-wrap:break-word;
}
#u4670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u4670 {
  border-width:0px;
  position:absolute;
  left:1310px;
  top:19px;
  width:100px;
  height:60px;
}
#u4670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:61px;
}
#u4671 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:19px;
  width:83px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u4671_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:79px;
  word-wrap:break-word;
}
#u4672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u4672 {
  border-width:0px;
  position:absolute;
  left:1370px;
  top:41px;
  width:29px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u4672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:61px;
}
#u4673 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:19px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u4673_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u4674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:61px;
}
#u4674 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:19px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u4674_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u4675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:61px;
}
#u4675 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:19px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u4675_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u4676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:61px;
}
#u4676 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:19px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u4676_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u4677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:61px;
}
#u4677 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:19px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u4677_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u4678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:61px;
}
#u4678 {
  border-width:0px;
  position:absolute;
  left:954px;
  top:19px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u4678_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u4679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:61px;
}
#u4679 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:19px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u4679_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u4680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:61px;
}
#u4680 {
  border-width:0px;
  position:absolute;
  left:1132px;
  top:19px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u4680_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u4681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:61px;
}
#u4681 {
  border-width:0px;
  position:absolute;
  left:1221px;
  top:19px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u4681_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u4682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:61px;
}
#u4682 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:89px;
  width:177px;
  height:60px;
}
#u4682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:36px;
}
#u4683 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:102px;
  width:146px;
  height:35px;
}
#u4683_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:142px;
  word-wrap:break-word;
}
#u4684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:863px;
}
#u4684 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:159px;
  width:1250px;
  height:863px;
}
#u4684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:164px;
}
#u4685 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:507px;
  width:637px;
  height:163px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:120px;
}
#u4685_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:633px;
  word-wrap:break-word;
}
#u4686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:61px;
}
#u4686 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:19px;
  width:89px;
  height:60px;
  font-size:14px;
  color:#000000;
}
#u4686_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u4687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:164px;
}
#u4687 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:507px;
  width:637px;
  height:163px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:120px;
}
#u4687_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:633px;
  word-wrap:break-word;
}
