body {
  margin:0px;
  background-color:rgba(121, 121, 121, 1);
  background-image:none;
  position:relative;
  left:-58px;
  width:775px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:742px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11546 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:162px;
  width:775px;
  height:742px;
  display:flex;
}
#u11546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:58px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u11547 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:253px;
  width:705px;
  height:58px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u11547 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:58px;
  background:inherit;
  background-color:rgba(83, 10, 128, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u11548 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:463px;
  width:328px;
  height:58px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u11548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u11549 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:204px;
  width:705px;
  height:37px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u11549 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:58px;
  background:inherit;
  background-color:rgba(0, 193, 93, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u11550 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:557px;
  width:147px;
  height:58px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u11550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:58px;
  background:inherit;
  background-color:rgba(30, 42, 215, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u11551 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:362px;
  width:328px;
  height:58px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u11551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:58px;
  background:inherit;
  background-color:rgba(122, 18, 193, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u11552 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:362px;
  width:159px;
  height:58px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u11552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:58px;
  background:inherit;
  background-color:rgba(30, 42, 215, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u11553 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:362px;
  width:147px;
  height:58px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u11553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:404px;
  background:inherit;
  background-color:rgba(122, 18, 193, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u11554 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:463px;
  width:160px;
  height:404px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u11554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:404px;
  background:inherit;
  background-color:rgba(30, 42, 215, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u11555 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:463px;
  width:147px;
  height:404px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u11555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:58px;
  background:inherit;
  background-color:rgba(0, 193, 93, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u11556 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:557px;
  width:147px;
  height:58px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u11556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:87px;
  background:inherit;
  background-color:rgba(178, 85, 17, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u11557 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:656px;
  width:328px;
  height:87px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u11557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:81px;
  background:inherit;
  background-color:rgba(170, 26, 36, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u11558 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:786px;
  width:328px;
  height:81px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u11558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11559 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:311px;
  width:0px;
  height:0px;
}
#u11559_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:24px;
}
#u11559_seg1 {
  border-width:0px;
  position:absolute;
  left:-194px;
  top:14px;
  width:199px;
  height:10px;
}
#u11559_seg2 {
  border-width:0px;
  position:absolute;
  left:-194px;
  top:14px;
  width:10px;
  height:37px;
}
#u11559_seg3 {
  border-width:0px;
  position:absolute;
  left:-199px;
  top:39px;
  width:20px;
  height:20px;
}
#u11559_text {
  border-width:0px;
  position:absolute;
  left:-151px;
  top:11px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11560 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:311px;
  width:0px;
  height:0px;
}
#u11560_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:24px;
}
#u11560_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:14px;
  width:102px;
  height:10px;
}
#u11560_seg2 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:14px;
  width:10px;
  height:37px;
}
#u11560_seg3 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:39px;
  width:20px;
  height:20px;
}
#u11560_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11561 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:311px;
  width:0px;
  height:0px;
}
#u11561_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:24px;
}
#u11561_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:14px;
  width:289px;
  height:10px;
}
#u11561_seg2 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:14px;
  width:10px;
  height:37px;
}
#u11561_seg3 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:39px;
  width:20px;
  height:20px;
}
#u11561_text {
  border-width:0px;
  position:absolute;
  left:96px;
  top:11px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11562 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:420px;
  width:0px;
  height:0px;
}
#u11562_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:48px;
}
#u11562_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:20px;
}
#u11562_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11563 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:521px;
  width:0px;
  height:0px;
}
#u11563_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:24px;
}
#u11563_seg1 {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:14px;
  width:100px;
  height:10px;
}
#u11563_seg2 {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:14px;
  width:10px;
  height:22px;
}
#u11563_seg3 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:24px;
  width:20px;
  height:20px;
}
#u11563_text {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:11px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11564 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:521px;
  width:0px;
  height:0px;
}
#u11564_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:24px;
}
#u11564_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:14px;
  width:101px;
  height:10px;
}
#u11564_seg2 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:14px;
  width:10px;
  height:22px;
}
#u11564_seg3 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:24px;
  width:20px;
  height:20px;
}
#u11564_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:11px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11565 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:615px;
  width:0px;
  height:0px;
}
#u11565_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:25px;
}
#u11565_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:15px;
  width:100px;
  height:10px;
}
#u11565_seg2 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:15px;
  width:10px;
  height:26px;
}
#u11565_seg3 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:29px;
  width:20px;
  height:20px;
}
#u11565_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11566 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:615px;
  width:0px;
  height:0px;
}
#u11566_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:25px;
}
#u11566_seg1 {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:15px;
  width:101px;
  height:10px;
}
#u11566_seg2 {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:15px;
  width:10px;
  height:26px;
}
#u11566_seg3 {
  border-width:0px;
  position:absolute;
  left:-101px;
  top:29px;
  width:20px;
  height:20px;
}
#u11566_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11567 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:743px;
  width:0px;
  height:0px;
}
#u11567_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:48px;
}
#u11567_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:20px;
}
#u11567_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11568 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:420px;
  width:0px;
  height:0px;
}
#u11568_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:48px;
}
#u11568_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:20px;
}
#u11568_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11569 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:420px;
  width:0px;
  height:0px;
}
#u11569_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:48px;
}
#u11569_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:20px;
}
#u11569_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
