body {
  margin:0px;
  background-color:rgba(121, 121, 121, 1);
  background-image:none;
  position:relative;
  left:-58px;
  width:775px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:742px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12082 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:162px;
  width:775px;
  height:742px;
  display:flex;
}
#u12082 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:58px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12083 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:253px;
  width:705px;
  height:58px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12083 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:58px;
  background:inherit;
  background-color:rgba(83, 10, 128, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12084 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:463px;
  width:328px;
  height:58px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u12084 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12084_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u12085 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:204px;
  width:705px;
  height:37px;
  display:flex;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u12085 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:58px;
  background:inherit;
  background-color:rgba(0, 193, 93, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12086 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:557px;
  width:147px;
  height:58px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u12086 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:58px;
  background:inherit;
  background-color:rgba(30, 42, 215, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12087 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:362px;
  width:328px;
  height:58px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u12087 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:58px;
  background:inherit;
  background-color:rgba(122, 18, 193, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12088 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:362px;
  width:159px;
  height:58px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u12088 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:58px;
  background:inherit;
  background-color:rgba(30, 42, 215, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12089 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:362px;
  width:147px;
  height:58px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u12089 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12089_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:404px;
  background:inherit;
  background-color:rgba(122, 18, 193, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12090 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:463px;
  width:160px;
  height:404px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u12090 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12090_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:404px;
  background:inherit;
  background-color:rgba(30, 42, 215, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12091 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:463px;
  width:147px;
  height:404px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u12091 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12091_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:58px;
  background:inherit;
  background-color:rgba(0, 193, 93, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12092 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:557px;
  width:147px;
  height:58px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u12092 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:87px;
  background:inherit;
  background-color:rgba(178, 85, 17, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12093 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:656px;
  width:328px;
  height:87px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u12093 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:81px;
  background:inherit;
  background-color:rgba(170, 26, 36, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12094 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:786px;
  width:328px;
  height:81px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u12094 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12094_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12095 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:311px;
  width:0px;
  height:0px;
}
#u12095_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:24px;
}
#u12095_seg1 {
  border-width:0px;
  position:absolute;
  left:-194px;
  top:14px;
  width:199px;
  height:10px;
}
#u12095_seg2 {
  border-width:0px;
  position:absolute;
  left:-194px;
  top:14px;
  width:10px;
  height:37px;
}
#u12095_seg3 {
  border-width:0px;
  position:absolute;
  left:-199px;
  top:39px;
  width:20px;
  height:20px;
}
#u12095_text {
  border-width:0px;
  position:absolute;
  left:-151px;
  top:11px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12096 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:311px;
  width:0px;
  height:0px;
}
#u12096_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:24px;
}
#u12096_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:14px;
  width:102px;
  height:10px;
}
#u12096_seg2 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:14px;
  width:10px;
  height:37px;
}
#u12096_seg3 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:39px;
  width:20px;
  height:20px;
}
#u12096_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12097 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:311px;
  width:0px;
  height:0px;
}
#u12097_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:24px;
}
#u12097_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:14px;
  width:289px;
  height:10px;
}
#u12097_seg2 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:14px;
  width:10px;
  height:37px;
}
#u12097_seg3 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:39px;
  width:20px;
  height:20px;
}
#u12097_text {
  border-width:0px;
  position:absolute;
  left:96px;
  top:11px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12098 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:420px;
  width:0px;
  height:0px;
}
#u12098_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:48px;
}
#u12098_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:20px;
}
#u12098_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12099 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:521px;
  width:0px;
  height:0px;
}
#u12099_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:24px;
}
#u12099_seg1 {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:14px;
  width:100px;
  height:10px;
}
#u12099_seg2 {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:14px;
  width:10px;
  height:22px;
}
#u12099_seg3 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:24px;
  width:20px;
  height:20px;
}
#u12099_text {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:11px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12100 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:521px;
  width:0px;
  height:0px;
}
#u12100_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:24px;
}
#u12100_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:14px;
  width:101px;
  height:10px;
}
#u12100_seg2 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:14px;
  width:10px;
  height:22px;
}
#u12100_seg3 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:24px;
  width:20px;
  height:20px;
}
#u12100_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:11px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12101 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:615px;
  width:0px;
  height:0px;
}
#u12101_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:25px;
}
#u12101_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:15px;
  width:100px;
  height:10px;
}
#u12101_seg2 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:15px;
  width:10px;
  height:26px;
}
#u12101_seg3 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:29px;
  width:20px;
  height:20px;
}
#u12101_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12102 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:615px;
  width:0px;
  height:0px;
}
#u12102_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:25px;
}
#u12102_seg1 {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:15px;
  width:101px;
  height:10px;
}
#u12102_seg2 {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:15px;
  width:10px;
  height:26px;
}
#u12102_seg3 {
  border-width:0px;
  position:absolute;
  left:-101px;
  top:29px;
  width:20px;
  height:20px;
}
#u12102_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12103 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:743px;
  width:0px;
  height:0px;
}
#u12103_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:48px;
}
#u12103_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:20px;
}
#u12103_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12104 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:420px;
  width:0px;
  height:0px;
}
#u12104_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:48px;
}
#u12104_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:20px;
}
#u12104_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12105 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:420px;
  width:0px;
  height:0px;
}
#u12105_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:48px;
}
#u12105_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:20px;
}
#u12105_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
