body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:relative;
  left:-19px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:54px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:9px;
  width:375px;
  height:53px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u504_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
#u505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:640px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:62px;
  width:375px;
  height:639px;
  font-size:16px;
  text-align:left;
}
#u505_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:53px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:297px;
  width:341px;
  height:52px;
  font-size:16px;
}
#u506_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:337px;
  word-wrap:break-word;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u509_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:15px;
  height:5px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:38px;
  width:12px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  text-align:left;
}
#u509_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u510_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:15px;
  height:5px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:28px;
  width:12px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  text-align:left;
}
#u510_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:54px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:9px;
  width:37px;
  height:53px;
}
#u511_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:81px;
  width:71px;
  height:16px;
}
#u512_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:107px;
  width:341px;
  height:170px;
}
#u513_input {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u513_input {
  font-family:'微软雅黑';
}
