body {
  margin:0px;
  background-color:rgba(170, 184, 194, 1);
  background-image:none;
  position:relative;
  left:-398px;
  width:376px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:742px;
}
#u1803 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:11px;
  width:376px;
  height:741px;
}
#u1803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:58px;
}
#u1804 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:11px;
  width:376px;
  height:57px;
}
#u1804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:32px;
}
#u1805 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:23px;
  width:314px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:314px;
  word-wrap:break-word;
}
#u1806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u1806 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:95px;
  width:100px;
  height:16px;
}
#u1806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u1807 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:114px;
  width:340px;
  height:56px;
}
#u1807_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:56px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1807_input:disabled {
  color:grayText;
}
#u1808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u1808 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:292px;
  width:100px;
  height:16px;
}
#u1808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u1809 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:312px;
  width:340px;
  height:58px;
}
#u1809_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:58px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:56px;
}
#u1810 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:500px;
  width:340px;
  height:55px;
  font-size:16px;
}
#u1810_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:336px;
  word-wrap:break-word;
}
#u1811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:17px;
}
#u1811 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:293px;
  width:146px;
  height:16px;
  color:#AEAEAE;
  text-align:right;
}
#u1811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u1812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:17px;
}
#u1812 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:192px;
  width:164px;
  height:16px;
}
#u1812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u1813 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:212px;
  width:340px;
  height:58px;
}
#u1813_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:58px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1814 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:413px;
  width:340px;
  height:58px;
}
#u1814_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:58px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#00CC00;
  text-align:left;
}
#u1815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
}
#u1815 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:391px;
  width:100px;
  height:16px;
}
#u1815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u1816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:58px;
}
#u1817 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:11px;
  width:49px;
  height:57px;
}
#u1817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1818_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:30px;
  height:22px;
}
#u1818p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:24px;
  height:6px;
}
#u1818p000_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:28px;
  height:10px;
}
#u1818p001 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-10px;
  width:24px;
  height:22px;
}
#u1818p001_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:28px;
  height:26px;
}
#u1818p002 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:0px;
  width:4px;
  height:4px;
}
#u1818p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:8px;
  height:8px;
}
#u1818 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:38px;
  width:18px;
  height:2px;
}
#u1818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
