body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-374px;
  width:456px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:510px;
}
#u4135 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:101px;
  width:456px;
  height:509px;
}
#u4135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:61px;
}
#u4136 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:130px;
  width:456px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:456px;
  word-wrap:break-word;
}
#u4137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:280px;
}
#u4137 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:233px;
  width:280px;
  height:280px;
}
#u4137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:17px;
}
#u4138 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:532px;
  width:265px;
  height:16px;
  text-align:center;
}
#u4138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u4139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:17px;
}
#u4139 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:200px;
  width:265px;
  height:16px;
  text-align:center;
}
#u4139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
