body {
  margin:0px;
  background-color:rgba(201, 201, 201, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2098 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1078px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2098_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2099 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1123px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2099_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1033px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:853px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:898px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:763px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:808px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:494px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:449px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:539px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:718px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:629px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:584px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2110_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:359px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:101px;
}
#u2113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:100px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2113_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:135px;
  word-wrap:break-word;
}
#u2114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:36px;
}
#u2114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:139px;
  height:35px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2114_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
#u2115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2115_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:225px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2116_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:404px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2117_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:988px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:943px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:673px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:269px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2121_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:46px;
}
#u2122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:314px;
  width:139px;
  height:45px;
  font-size:14px;
  color:rgba(255, 255, 255, 0.709803921568627);
}
#u2122_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u2123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1252px;
  height:171px;
}
#u2123 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:70px;
  width:1251px;
  height:170px;
}
#u2123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1252px;
  height:421px;
}
#u2124 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:310px;
  width:1251px;
  height:420px;
}
#u2124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u2125 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:90px;
  width:124px;
  height:124px;
}
#u2125_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:120px;
  word-wrap:break-word;
}
#u2126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1252px;
  height:61px;
}
#u2126 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:10px;
  width:1251px;
  height:60px;
  font-size:20px;
}
#u2126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:1247px;
  word-wrap:break-word;
}
#u2127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u2127 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:90px;
  width:124px;
  height:124px;
}
#u2127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:120px;
  word-wrap:break-word;
}
#u2128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u2128 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:90px;
  width:124px;
  height:124px;
}
#u2128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:120px;
  word-wrap:break-word;
}
#u2129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u2129 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:90px;
  width:124px;
  height:124px;
}
#u2129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:120px;
  word-wrap:break-word;
}
#u2130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u2130 {
  border-width:0px;
  position:absolute;
  left:1063px;
  top:90px;
  width:124px;
  height:124px;
}
#u2130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:120px;
  word-wrap:break-word;
}
#u2131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u2131 {
  border-width:0px;
  position:absolute;
  left:1236px;
  top:90px;
  width:124px;
  height:124px;
}
#u2131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:120px;
  word-wrap:break-word;
}
#u2132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:125px;
}
#u2132 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:90px;
  width:124px;
  height:124px;
}
#u2132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:120px;
  word-wrap:break-word;
}
#u2133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1252px;
  height:61px;
}
#u2133 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:250px;
  width:1251px;
  height:60px;
  font-size:20px;
}
#u2133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:1247px;
  word-wrap:break-word;
}
#u2134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:351px;
}
#u2135 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:355px;
  width:1px;
  height:350px;
}
#u2135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1206px;
  height:2px;
}
#u2136 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:704px;
  width:1205px;
  height:1px;
}
#u2136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:355px;
}
#u2137 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:338px;
  width:1189px;
  height:354px;
}
#u2137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:361px;
}
#u2138 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:800px;
  width:619px;
  height:360px;
}
#u2138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:61px;
}
#u2139 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:740px;
  width:619px;
  height:60px;
  font-size:20px;
}
#u2139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:615px;
  word-wrap:break-word;
}
#u2140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:361px;
}
#u2140 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:800px;
  width:619px;
  height:360px;
}
#u2140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:61px;
}
#u2141 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:740px;
  width:619px;
  height:60px;
  font-size:20px;
}
#u2141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:615px;
  word-wrap:break-word;
}
#u2142_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:627px;
  height:10px;
}
#u2142 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:740px;
  width:622px;
  height:5px;
}
#u2142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2143_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:624px;
  height:10px;
}
#u2143 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:740px;
  width:619px;
  height:5px;
}
#u2143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:1256px;
  height:10px;
}
#u2144 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:250px;
  width:1251px;
  height:5px;
}
#u2144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2145_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:1256px;
  height:10px;
}
#u2145 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:10px;
  width:1251px;
  height:5px;
}
#u2145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:325px;
}
#u2146 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:820px;
  width:571px;
  height:324px;
}
#u2146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:319px;
}
#u2148 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:820px;
  width:318px;
  height:318px;
}
#u2148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:319px;
}
#u2149 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:820px;
  width:318px;
  height:318px;
}
#u2149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:319px;
}
#u2150 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:820px;
  width:318px;
  height:318px;
}
#u2150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:319px;
}
#u2151 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:820px;
  width:318px;
  height:318px;
}
#u2151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:319px;
}
#u2152 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:820px;
  width:318px;
  height:318px;
}
#u2152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:201px;
}
#u2153 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:820px;
  width:107px;
  height:200px;
  text-align:right;
  line-height:20px;
}
#u2153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
