body {
  margin:0px;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
  position:relative;
  left:-299px;
  width:414px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:792px;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:37px;
  width:414px;
  height:791px;
}
#u1268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:648px;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:162px;
  width:414px;
  height:647px;
}
#u1269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:28px;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:9px;
  width:413px;
  height:28px;
}
#u1270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:81px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:37px;
  width:414px;
  height:80px;
  text-align:left;
}
#u1271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:54px;
  width:45px;
  height:45px;
}
#u1272_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u1273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:55px;
  width:113px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:81px;
  width:154px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u1274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u1275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:181px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:487px;
  width:374px;
  height:180px;
  line-height:20px;
}
#u1275_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  word-wrap:break-word;
}
#u1276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:61px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:194px;
  width:374px;
  height:60px;
  line-height:20px;
}
#u1276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  word-wrap:break-word;
}
#u1277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:209px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:268px;
  width:374px;
  height:209px;
}
#u1277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:46px;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:117px;
  width:70px;
  height:45px;
}
#u1278_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  word-wrap:break-word;
}
#u1279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:46px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:117px;
  width:82px;
  height:45px;
}
#u1279_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:78px;
  word-wrap:break-word;
}
#u1280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:46px;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:117px;
  width:50px;
  height:45px;
}
#u1280_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:124px;
  width:32px;
  height:32px;
}
#u1281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:46px;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:117px;
  width:70px;
  height:45px;
}
#u1282_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  word-wrap:break-word;
}
#u1283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:46px;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:117px;
  width:71px;
  height:45px;
}
#u1283_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:67px;
  word-wrap:break-word;
}
#u1284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:46px;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:117px;
  width:70px;
  height:45px;
}
#u1284_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:66px;
  word-wrap:break-word;
}
#u1285_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:85px;
  height:6px;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:160px;
  width:82px;
  height:3px;
}
#u1285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:591px;
  top:62px;
  width:69px;
  height:31px;
}
#u1286_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u1287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:34px;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:61px;
  width:72px;
  height:33px;
  color:#FFFFFF;
}
#u1287_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:57px;
  width:24px;
  height:24px;
  font-size:12px;
}
#u1289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:81px;
  width:28px;
  height:15px;
  font-size:12px;
  color:#868686;
  text-align:center;
}
#u1290_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:78px;
  width:20px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1292_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:78px;
  width:20px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u1293_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
