body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:relative;
  left:-100px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:55px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:9px;
  width:375px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:21px;
  width:84px;
  height:31px;
  color:#FFFFFF;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:27px;
  width:1px;
  height:19px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:14px;
  height:14px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:31px;
  width:11px;
  height:11px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:34px;
  width:5px;
  height:5px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:35px;
  width:4px;
  height:4px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:35px;
  width:4px;
  height:4px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:35px;
  width:4px;
  height:4px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:44px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:9px;
  width:46px;
  height:43px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:2px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:37px;
  width:13px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u862 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:2px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:28px;
  width:13px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u864 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:678px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:63px;
  width:375px;
  height:677px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:330px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:421px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:80px;
  width:340px;
  height:420px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:202px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869 {
  position:fixed;
  left:50%;
  margin-left:-90.5px;
  bottom:50px;
}
#u869_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:181px;
  height:59px;
  background-image:none;
}
#u869_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:24px;
  width:34px;
  height:34px;
  font-size:18px;
  color:#FFFFFF;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:31px;
  width:17px;
  height:18px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:55px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:524px;
  width:154px;
  height:54px;
  color:#FFFFFF;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:150px;
  word-wrap:break-word;
}
#u878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:55px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:524px;
  width:154px;
  height:54px;
  color:#FFFFFF;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:150px;
  word-wrap:break-word;
}
