body {
  margin:0px;
  background-color:rgba(40, 40, 40, 1);
  background-image:none;
  position:relative;
  left:-29px;
  width:1400px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:43px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:19px;
  width:173px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:13px;
  width:54px;
  height:54px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:56px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:26px;
  width:157px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:153px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:56px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:26px;
  width:157px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:153px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:56px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:1115px;
  top:26px;
  width:157px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:153px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:56px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:26px;
  width:157px;
  height:55px;
  font-size:16px;
  color:#FFFFFF;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:153px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:84px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:324px;
  width:1400px;
  height:83px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:72px;
  color:#FFFFFF;
  text-align:center;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  word-wrap:break-word;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:49px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:457px;
  width:138px;
  height:48px;
  font-size:16px;
  text-align:left;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:134px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:463px;
  width:36px;
  height:36px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:49px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:457px;
  width:135px;
  height:48px;
  font-size:16px;
  text-align:left;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:131px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:463px;
  width:36px;
  height:36px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:fixed;
  left:50%;
  margin-left:-700.5px;
  bottom:20px;
}
#u13_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1401px;
  height:57px;
  background-image:none;
}
#u13_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:57px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:56px;
  color:#A1A1A1;
  text-align:center;
  line-height:28px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:17px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:552px;
  width:336px;
  height:16px;
  color:rgba(0, 204, 0, 0.258823529411765);
  text-align:center;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:457px;
  width:48px;
  height:48px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
