body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-50px;
  width:415px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:699px;
}
#u2437 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:106px;
  width:414px;
  height:698px;
}
#u2437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:27px;
}
#u2438 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:24px;
  width:414px;
  height:27px;
}
#u2438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:56px;
}
#u2439 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:51px;
  width:414px;
  height:55px;
  font-size:16px;
  text-align:left;
}
#u2439_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:410px;
  word-wrap:break-word;
}
#u2440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:55px;
}
#u2441 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:51px;
  width:43px;
  height:54px;
}
#u2441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u2443 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:82px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u2443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u2444 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:74px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u2444_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:17px;
}
#u2445 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:371px;
  width:415px;
  height:16px;
  color:#AEAEAE;
  text-align:center;
}
#u2445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  word-wrap:break-word;
}
#u2446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u2446 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:238px;
  width:93px;
  height:93px;
}
#u2446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
