body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-50px;
  width:415px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:170px;
}
#u1521 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:160px;
  width:414px;
  height:169px;
}
#u1521_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1522 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:190px;
  width:43px;
  height:16px;
}
#u1522_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:17px;
}
#u1523 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:190px;
  width:267px;
  height:16px;
}
#u1523_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u1524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1524 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:216px;
  width:43px;
  height:16px;
}
#u1524_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:17px;
}
#u1525 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:216px;
  width:251px;
  height:16px;
}
#u1525_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u1526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1526 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:268px;
  width:71px;
  height:16px;
}
#u1526_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1527 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:268px;
  width:57px;
  height:16px;
}
#u1527_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1528 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:242px;
  width:57px;
  height:16px;
}
#u1528_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1529 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:242px;
  width:43px;
  height:16px;
}
#u1529_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u1530 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:299px;
  width:85px;
  height:16px;
}
#u1530_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
}
#u1531 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:297px;
  width:46px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1531_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u1532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1532 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:242px;
  width:43px;
  height:16px;
}
#u1532_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:27px;
}
#u1533 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:24px;
  width:414px;
  height:27px;
}
#u1533_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:56px;
}
#u1534 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:51px;
  width:414px;
  height:55px;
  font-size:16px;
  text-align:left;
}
#u1534_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:410px;
  word-wrap:break-word;
}
#u1535 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:55px;
}
#u1536 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:51px;
  width:43px;
  height:54px;
}
#u1536_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1538 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:82px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1538_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u1539 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:74px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u1539_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:56px;
}
#u1540 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:105px;
  width:207px;
  height:55px;
}
#u1540_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:203px;
  word-wrap:break-word;
}
#u1541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:56px;
}
#u1541 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:105px;
  width:207px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1541_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:203px;
  word-wrap:break-word;
}
#u1542_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:212px;
  height:9px;
}
#u1542 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:156px;
  width:207px;
  height:4px;
}
#u1542_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:170px;
}
#u1544 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:339px;
  width:414px;
  height:169px;
}
#u1544_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1545 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:369px;
  width:43px;
  height:16px;
}
#u1545_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:17px;
}
#u1546 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:369px;
  width:267px;
  height:16px;
}
#u1546_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u1547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1547 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:395px;
  width:43px;
  height:16px;
}
#u1547_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:17px;
}
#u1548 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:395px;
  width:251px;
  height:16px;
}
#u1548_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u1549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1549 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:447px;
  width:71px;
  height:16px;
}
#u1549_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1550 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:447px;
  width:57px;
  height:16px;
}
#u1550_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1551 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:421px;
  width:57px;
  height:16px;
}
#u1551_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1552 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:421px;
  width:43px;
  height:16px;
}
#u1552_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u1553 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:478px;
  width:85px;
  height:16px;
}
#u1553_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
}
#u1554 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:476px;
  width:46px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1554_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u1555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1555 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:421px;
  width:43px;
  height:16px;
}
#u1555_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:170px;
}
#u1557 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:518px;
  width:414px;
  height:169px;
}
#u1557_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1558 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:548px;
  width:43px;
  height:16px;
}
#u1558_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:17px;
}
#u1559 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:548px;
  width:267px;
  height:16px;
}
#u1559_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u1560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1560 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:574px;
  width:43px;
  height:16px;
}
#u1560_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:17px;
}
#u1561 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:574px;
  width:251px;
  height:16px;
}
#u1561_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u1562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1562 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:626px;
  width:71px;
  height:16px;
}
#u1562_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1563 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:626px;
  width:57px;
  height:16px;
}
#u1563_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1564 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:600px;
  width:57px;
  height:16px;
}
#u1564_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1565 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:600px;
  width:43px;
  height:16px;
}
#u1565_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u1566 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:657px;
  width:85px;
  height:16px;
}
#u1566_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
}
#u1567 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:655px;
  width:46px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1567_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u1568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1568 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:600px;
  width:43px;
  height:16px;
}
#u1568_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1569 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:170px;
}
#u1570 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:697px;
  width:414px;
  height:169px;
}
#u1570_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1571 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:727px;
  width:43px;
  height:16px;
}
#u1571_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:17px;
}
#u1572 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:727px;
  width:267px;
  height:16px;
}
#u1572_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u1573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1573 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:753px;
  width:43px;
  height:16px;
}
#u1573_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:17px;
}
#u1574 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:753px;
  width:251px;
  height:16px;
}
#u1574_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u1575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1575 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:805px;
  width:71px;
  height:16px;
}
#u1575_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1576 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:805px;
  width:57px;
  height:16px;
}
#u1576_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1577 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:779px;
  width:57px;
  height:16px;
}
#u1577_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1578 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:779px;
  width:43px;
  height:16px;
}
#u1578_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u1579 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:836px;
  width:85px;
  height:16px;
}
#u1579_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
}
#u1580 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:834px;
  width:46px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1580_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u1581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1581 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:779px;
  width:43px;
  height:16px;
}
#u1581_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:17px;
}
#u1582 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:71px;
  width:92px;
  height:16px;
  font-size:13px;
}
#u1582_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
