body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:1179px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:485px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u6633 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:199px;
  width:54px;
  height:485px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u6633 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:55px;
  background:inherit;
  background-color:rgba(121, 6, 247, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6634 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:285px;
  width:225px;
  height:55px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u6634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:55px;
  background:inherit;
  background-color:rgba(121, 6, 247, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6635 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:371px;
  width:225px;
  height:55px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u6635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:55px;
  background:inherit;
  background-color:rgba(121, 6, 247, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6636 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:199px;
  width:225px;
  height:55px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u6636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:55px;
  background:inherit;
  background-color:rgba(161, 3, 7, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6637 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:447px;
  width:225px;
  height:55px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u6637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(18, 52, 208, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6638 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:199px;
  width:55px;
  height:55px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u6638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(18, 52, 208, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6639 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:285px;
  width:55px;
  height:55px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u6639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(18, 52, 208, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6640 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:371px;
  width:55px;
  height:55px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u6640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(18, 52, 208, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6641 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:447px;
  width:55px;
  height:55px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u6641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:303px;
  background:inherit;
  background-color:rgba(161, 3, 7, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6642 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:199px;
  width:54px;
  height:303px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u6642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:55px;
  background:inherit;
  background-color:rgba(178, 85, 17, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6643 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:199px;
  width:252px;
  height:55px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u6643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:55px;
  background:inherit;
  background-color:rgba(178, 85, 17, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6644 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:285px;
  width:252px;
  height:55px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u6644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:55px;
  background:inherit;
  background-color:rgba(178, 85, 17, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6645 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:371px;
  width:252px;
  height:55px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u6645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:55px;
  background:inherit;
  background-color:rgba(178, 85, 17, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6646 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:447px;
  width:252px;
  height:55px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u6646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:113px;
  background:inherit;
  background-color:rgba(161, 3, 7, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6647 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:571px;
  width:54px;
  height:113px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u6647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
  background:inherit;
  background-color:rgba(159, 159, 159, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6648 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:509px;
  width:55px;
  height:55px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u6648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:113px;
  background:inherit;
  background-color:rgba(178, 85, 17, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6649 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:571px;
  width:620px;
  height:113px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u6649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:485px;
  background:inherit;
  background-color:rgba(26, 170, 82, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u6650 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:199px;
  width:54px;
  height:485px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u6650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6651 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:442px;
  width:0px;
  height:0px;
}
#u6651_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:28px;
  height:10px;
}
#u6651_seg1 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-96px;
  width:10px;
  height:101px;
}
#u6651_seg2 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-96px;
  width:29px;
  height:10px;
}
#u6651_seg3 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-101px;
  width:20px;
  height:20px;
}
#u6651_text {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-54px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6652 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:442px;
  width:0px;
  height:0px;
}
#u6652_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:21px;
  height:10px;
}
#u6652_seg1 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-5px;
  width:10px;
  height:196px;
}
#u6652_seg2 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:181px;
  width:36px;
  height:10px;
}
#u6652_seg3 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:176px;
  width:20px;
  height:20px;
}
#u6652_text {
  border-width:0px;
  position:absolute;
  left:-34px;
  top:92px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6653 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:351px;
  width:0px;
  height:0px;
}
#u6653_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:30px;
  height:10px;
}
#u6653_seg1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-129px;
  width:10px;
  height:134px;
}
#u6653_seg2 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-129px;
  width:20px;
  height:10px;
}
#u6653_seg3 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-134px;
  width:20px;
  height:20px;
}
#u6653_text {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:-65px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6654 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:351px;
  width:0px;
  height:0px;
}
#u6654_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:30px;
  height:10px;
}
#u6654_seg1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-43px;
  width:10px;
  height:48px;
}
#u6654_seg2 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-43px;
  width:20px;
  height:10px;
}
#u6654_seg3 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-48px;
  width:20px;
  height:20px;
}
#u6654_text {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:-22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6655 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:351px;
  width:0px;
  height:0px;
}
#u6655_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:30px;
  height:10px;
}
#u6655_seg1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-5px;
  width:10px;
  height:58px;
}
#u6655_seg2 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:43px;
  width:20px;
  height:10px;
}
#u6655_seg3 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:38px;
  width:20px;
  height:20px;
}
#u6655_text {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:11px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6656 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:351px;
  width:0px;
  height:0px;
}
#u6656_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:30px;
  height:10px;
}
#u6656_seg1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-5px;
  width:10px;
  height:134px;
}
#u6656_seg2 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:119px;
  width:20px;
  height:10px;
}
#u6656_seg3 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:114px;
  width:20px;
  height:20px;
}
#u6656_text {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:49px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6657 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:227px;
  width:0px;
  height:0px;
}
#u6657_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:45px;
  height:10px;
}
#u6657_seg1 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6657_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6658 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:227px;
  width:0px;
  height:0px;
}
#u6658_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:53px;
  height:10px;
}
#u6658_seg1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6658_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6659 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:227px;
  width:0px;
  height:0px;
}
#u6659_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:36px;
  height:10px;
}
#u6659_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-5px;
  width:10px;
  height:225px;
}
#u6659_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:210px;
  width:37px;
  height:10px;
}
#u6659_seg3 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:205px;
  width:20px;
  height:20px;
}
#u6659_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:100px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6660 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:313px;
  width:0px;
  height:0px;
}
#u6660_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:36px;
  height:10px;
}
#u6660_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-5px;
  width:10px;
  height:139px;
}
#u6660_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:124px;
  width:37px;
  height:10px;
}
#u6660_seg3 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:119px;
  width:20px;
  height:20px;
}
#u6660_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:57px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6661 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:313px;
  width:0px;
  height:0px;
}
#u6661_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:45px;
  height:10px;
}
#u6661_seg1 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6661_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6662 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:313px;
  width:0px;
  height:0px;
}
#u6662_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:53px;
  height:10px;
}
#u6662_seg1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6662_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6663 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:399px;
  width:0px;
  height:0px;
}
#u6663_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:45px;
  height:10px;
}
#u6663_seg1 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6663_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6664 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:399px;
  width:0px;
  height:0px;
}
#u6664_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:53px;
  height:10px;
}
#u6664_seg1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6664_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6665 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:475px;
  width:0px;
  height:0px;
}
#u6665_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:45px;
  height:10px;
}
#u6665_seg1 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6665_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6666 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:475px;
  width:0px;
  height:0px;
}
#u6666_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:53px;
  height:10px;
}
#u6666_seg1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6666_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6667 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:399px;
  width:0px;
  height:0px;
}
#u6667_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:36px;
  height:10px;
}
#u6667_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-5px;
  width:10px;
  height:53px;
}
#u6667_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:38px;
  width:37px;
  height:10px;
}
#u6667_seg3 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:33px;
  width:20px;
  height:20px;
}
#u6667_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6668 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:475px;
  width:0px;
  height:0px;
}
#u6668_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:36px;
  height:10px;
}
#u6668_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-38px;
  width:10px;
  height:43px;
}
#u6668_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-38px;
  width:37px;
  height:10px;
}
#u6668_seg3 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-43px;
  width:20px;
  height:20px;
}
#u6668_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-25px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6669 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:628px;
  width:0px;
  height:0px;
}
#u6669_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:36px;
  height:10px;
}
#u6669_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-191px;
  width:10px;
  height:196px;
}
#u6669_seg2 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-191px;
  width:37px;
  height:10px;
}
#u6669_seg3 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-196px;
  width:20px;
  height:20px;
}
#u6669_text {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:-102px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6670 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:628px;
  width:0px;
  height:0px;
}
#u6670_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:45px;
  height:10px;
}
#u6670_seg1 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-10px;
  width:20px;
  height:20px;
}
#u6670_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:55px;
}
#u6671 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:509px;
  width:620px;
  height:55px;
  display:flex;
  font-size:14px;
  color:#8A8A8A;
}
#u6671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:52px;
  background:inherit;
  background-color:rgba(44, 157, 3, 0.952941176470588);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6672 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:50px;
  width:157px;
  height:52px;
  display:flex;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:52px;
  background:inherit;
  background-color:rgba(44, 157, 3, 0.952941176470588);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6673 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:50px;
  width:157px;
  height:52px;
  display:flex;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:52px;
  background:inherit;
  background-color:rgba(44, 157, 3, 0.952941176470588);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6674 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:50px;
  width:157px;
  height:52px;
  display:flex;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:52px;
  background:inherit;
  background-color:rgba(44, 157, 3, 0.952941176470588);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6675 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:50px;
  width:157px;
  height:52px;
  display:flex;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:52px;
  background:inherit;
  background-color:rgba(44, 157, 3, 0.952941176470588);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6676 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:50px;
  width:157px;
  height:52px;
  display:flex;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:52px;
  background:inherit;
  background-color:rgba(44, 157, 3, 0.952941176470588);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6677 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:50px;
  width:157px;
  height:52px;
  display:flex;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:52px;
  background:inherit;
  background-color:rgba(44, 157, 3, 0.952941176470588);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6678 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:50px;
  width:157px;
  height:52px;
  display:flex;
  font-family:'Nunito Sans Bold', 'Nunito Sans Regular', 'Nunito Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6679 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:20px;
  width:144px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6679 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6679_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
