body {
  margin:0px;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
  position:relative;
  left:-299px;
  width:414px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:1519px;
}
#u2715 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:10px;
  width:414px;
  height:1518px;
}
#u2715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:321px;
}
#u2716 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:279px;
  width:361px;
  height:320px;
}
#u2716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2717 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:373px;
  width:300px;
  height:50px;
}
#u2717_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2717_ann {
  border-width:0px;
  position:absolute;
  left:649px;
  top:369px;
  width:1px;
  height:1px;
}
#u2718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:51px;
}
#u2718 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:451px;
  width:300px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2718_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u2718_ann {
  border-width:0px;
  position:absolute;
  left:649px;
  top:447px;
  width:1px;
  height:1px;
}
#u2719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u2719 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:422px;
  width:300px;
  height:1px;
}
#u2719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u2720 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:390px;
  width:113px;
  height:16px;
  color:#949494;
}
#u2720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
}
#u2721 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:305px;
  width:77px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u2722 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:526px;
  width:306px;
  height:16px;
  font-size:12px;
  color:#A1A1A1;
}
#u2722_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u2722_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u2723 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:216px;
  width:35px;
  height:35px;
}
#u2723_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u2724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u2724 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:16px;
  width:1px;
  height:200px;
}
#u2724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
