body {
  margin:0px;
  background-color:rgba(0, 204, 255, 1);
  background-image:none;
  position:relative;
  left:-484px;
  width:342px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:332px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6338 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:229px;
  width:342px;
  height:332px;
}
#u6338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6339 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6340 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:365px;
  width:117px;
  height:40px;
}
#u6340_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u6341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6341 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:365px;
  width:173px;
  height:40px;
  font-size:16px;
}
#u6341_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:169px;
  word-wrap:break-word;
}
#u6342 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:260px;
  width:300px;
  height:40px;
}
#u6342_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u6343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6343 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:488px;
  width:300px;
  height:40px;
  font-size:20px;
}
#u6343_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u6344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u6344 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:577px;
  width:332px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u6344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u6345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u6345 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:315px;
  width:118px;
  height:16px;
  color:#FF0000;
}
#u6345_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u6346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u6346 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:409px;
  width:90px;
  height:16px;
  color:#FF0000;
}
#u6346_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
