body {
  margin:0px;
  background-color:rgba(0, 204, 255, 1);
  background-image:none;
  position:relative;
  left:-494px;
  width:342px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:332px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11371 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:239px;
  width:342px;
  height:332px;
}
#u11372 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:158px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u11373 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:587px;
  width:332px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u11374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u11375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0099FF;
}
#u11376 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:347px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#0099FF;
}
#u11377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u11378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u11380 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:350px;
  width:32px;
  height:30px;
}
#u11381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11383_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:12px;
  height:5px;
}
#u11383 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:366px;
  width:9px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#FFFFFF;
}
#u11384 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11385_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:5px;
}
#u11385 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:364px;
  width:15px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  color:#FFFFFF;
}
#u11386 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u11388 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:350px;
  width:32px;
  height:30px;
}
#u11389 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u11390 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:446px;
  width:129px;
  height:16px;
  color:#CCCCCC;
}
#u11391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
